body{
    margin:0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(160deg, rgb(223, 16, 85), 60%, rgb(168, 220, 243));
}

*{
    box-sizing: border-box;
}

.container{
    width: 60%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    -webkit-box-shadow:0px 0px 7px -5px black;
    box-shadow:0px 0px 7px 1px rgba(255, 179, 216, 0.838);
}

.sub-container{
    /* border: 1px solid red; */
    height: 95%;
    width: 100%;
    background-color: rgb(255, 168, 210);
    overflow-y : auto;
    padding:20px;
}

#form{
    width:100%;
    height: 10%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* gap:10px; */
}

.msg{
    width: 90%;
    height: 90%;
    text-align: center;
    border: 1px solid rgb(255, 168, 210);;
}

button{
    height: 97%;
    width: 10%;
    border: 1px solid rgb(255, 168, 210);
}

.message{
   background-color: rgb(223, 16, 85);
   color: white;
   padding: 10px;
   display:flex;
   justify-content: center;
}

.right{
    float: right;
    clear:both;
    margin-bottom: 20px;
}

.left{
    float:left;
    clear:both;
    margin-bottom: 20px;
}

.center{
    width: fit-content;
    margin: auto;
    clear: both;
    margin-bottom: 20px;
}

